.funFactCard {
  border: 2px solid rgba(208, 208, 208, 0.816);
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  gap: 4rem;
  padding: 1rem;
  margin: 1rem;
}